@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@500&display=swap');

body {
    background-color: rgb(235, 235, 235);
}

nav {
    position: fixed;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    width: 1321px;
    height: 120px;
    margin-left: 50px;
    margin-top: 0px;
    background-color: rgb(235, 235, 235);

}

.button {
    height: 55px;
    width: 100px;
    margin: 10px;
    border-radius: 6px;
    text-align: center;
    font-size: 18px;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.rightbuttons {
    display: flex;
    padding-left: 438px;
}

.signupbutton {
    height: 55px;
    width: 100px;
    margin: 10px;
    border-radius: 6px;
    text-align: center;
    font-size: 18px;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.loginbutton {
    height: 55px;
    width: 100px;
    margin: 10px;
    border-radius: 6px;
    text-align: center;
    font-size: 18px;
    background-color: rgb(255,149,0);
    color: white;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.conteiner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 339px;
    width: 965px;
    margin-top: 150px;

}

.box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 854px;
    height: 100px;
    border-radius: 5px;
    background-color: rgb(255,244,229);
    margin-top: 0px;
}

#orange {
    font-size: 48px;
    padding: 7px;
    color: rgb(255,149,0);
    font-family: 'Be Vietnam Pro', sans-serif;
}

#black {
    font-size: 48px;
    font-family: 'Be Vietnam Pro', sans-serif;

}

#bigtext {
    font-size: 38px;
    font-family: 'Be Vietnam Pro', sans-serif;
}

#smalltext {
    font-size: 18px;
    font-family: 'Be Vietnam Pro', sans-serif;
    margin-top: 20px;
}


.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Be Vietnam Pro', sans-serif;
}
 .button2 {
    display: flex;
    border-radius: 6px;

 }

#coursesbutton {
    width: 195px;
    height: 63px;
    font-family: 'Be Vietnam Pro', sans-serif;
    background-color: rgb(255,149,0);
    margin-right: 10px;
    border-radius: 6px;

}

#pricingbutton {
    width: 159px;
    height: 63px;
    font-family: 'Be Vietnam Pro', sans-serif;
    border-radius: 6px;


}

.conteiner2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
    margin-left: 70px;
    width: 1279px;
    height: 116px;
    border-radius: 8px;
    background-color: white;
}

#image1{
    margin: 71px;
}

.box3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 933px;
    height: 109px;
    margin-top: 80px;
    margin-left: 71px;
} 

#box3text {
    font-size: 48px;
    font-family: 'Be Vietnam Pro', sans-serif;

}

#box3text2{
    margin-top: 20px;
    font-size: 18px;
    font-family: 'Be Vietnam Pro', sans-serif;

}

#buttonviewall {
    margin-right: 0px;
    width: 120px;
    height: 63px;
    background-color: white;
    border: 0px;
    border-radius: 6px;
}

.box4 {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    width: 346px;
    height: 109px;
    margin-right: -71px;
    
}

.conteiner3 {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top: 0px;
    width: 1279px;
    height: 109px;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.conteiner4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 80px;
    margin-left: 55px;
    width: 1279px;
    height: 811px;
}

.boxes {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 413px;
    height: 346px;
    margin: 12px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}

.number {
    margin-left: 268px;
    font-size: 80px;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.boxo1text {
    margin-left: 40px;
    font-size: 24px;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.boxo1text2 {
    margin-left: 40px;
    margin-bottom: 80px;
    font-size: 18px;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.fa-solid {
    margin-left: 350px;
}


.conteiner6 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    max-width: 1279px;  
    min-height: 1880px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 30px;
}

.imgbox {
    width: 549.5px;
    height: 519px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 40px;
}

.minbox {
    display: flex;
    margin-top: 24px;
    align-items: center;
}

.mintext {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 89px;
    height: 34px;
    border: solid rgb(235, 235, 235);
    border-radius: 6px;
    margin-right: 10px;
    font-size: 14px;
    font-family: 'Be Vietnam Pro', sans-serif;

}

.mintext2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 116px;
    height: 34px;
    border: solid rgb(235, 235, 235);
    border-radius: 6px;
    font-size: 14px;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.mintext3 {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
    margin-left: 171px;
}

.con6text {
    font-size: 20px;
    font-family: 'Be Vietnam Pro', sans-serif;
    margin-top: 24px;

}

.con6text2 {
    font-family: 'Be Vietnam Pro', sans-serif;
    margin-top: 10px;
    font-size: 16px;
}

.getitnowbutton {
    width: 549.5px;
    height: 49px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 14px;
    border-radius: 6px;
    background-color: rgb(235, 235, 235);
    border: 0px;
    margin-top: 40px;

}

.conteiner5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 260px 260px;
    width: 1279px;
    height: 520px;
    max-width: 1279px;  
    min-height: 560px;
    margin: 0 auto;
}

.storybox {
    width: 629.5px;
    height: 250px;
    background-color: white;
    border-radius: 10px;
    border: solid rgb(235, 235, 235);
    margin-top: 30px;


}

.Story {
    display: flex;
    font-size: 16px;
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 40px;
    color: rgb(76, 76, 77);
}

.imgbuttonbox {
    display: flex;
    align-items: center;
    width: 629.5px;
    height: 98px;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    border-top: solid rgb(235, 235, 235);

}

.storybutton {
    width: 137px;
    height: 49px;
    font-family: 'Be Vietnam Pro', sans-serif;
    background-color: rgb(235, 235, 235);
    border: 0px;
    border-radius: 6px;
    margin: 40px;
    font-size: 14px;
}

.sbox {
    display: flex;
    width: 412.5px;
    height: 50px;
    margin: 40px;
    align-items: center;
}

.name {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
    margin-left: 20px;
}

.conteiner7 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    width: 1279px;
    height: 174px;
    background-color: white;
    max-width: 1279px;  
    min-height: 179px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 50px;
    font-family: 'Be Vietnam Pro', sans-serif;

}

.fa-solid {
    grid-area: 1;
    align-content: space-evenly;
    align-items: center;
    margin-left: 0px;
    margin-top: 10px;


}

.button7 {
   grid-column: 3;
   display: block;
   margin-top: 10px;
   border: 0px;
   background-color: white;
   cursor: pointer;
   font-family: 'Be Vietnam Pro', sans-serif;
}

.button7 :hover {
    color: brown;
}

.button8 {
   grid-column: 4;
   display: block;
   margin-top: 10px;
   border: 0px;
   background-color: white;
   cursor: pointer;
   font-family: 'Be Vietnam Pro', sans-serif;

}
.button8 :hover {
    color: brown;
}

h4, h5, h6 {
    font-size: 20px;
    font-weight: 800;
    font-family: 'Be Vietnam Pro', sans-serif;

}

.fa-brands {
    grid-row: 5;
    margin-top: 30px;
    margin-left: 10px;
    cursor: pointer;
}

.fa-brands:hover{
    color: rgb(11, 63, 167);
}
